version: '3.8'
services:

  webserver:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: recruitment-webserver
    restart: unless-stopped
    volumes:
      - .:/var/www/html
    ports:
      - "80:80"
    environment:
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
    command: >
      bash -c "composer install && npm install && npm run build && apache2-foreground"