{# ./templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

 {% block title %} Telemedi Zadanie - Exchange Rates {% endblock %}

 {% block body %}

     <!-- React Root element -->
     <div id="root"></div>

 {% endblock %}
